# Client
API_URL=http://localhost:3001

# Minio
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=etnair
MINIO_REGION=us-east-1
MINIO_USE_SSL=false