# Prisma
DATABASE_URL="postgresql://etnair_user:etnair_pass@localhost:5432/etnair_db?schema=public"

# JWT
JWT_SECRET="" # à remplir via le secret généré par ce site : https://jwtsecrets.com/#generator
JWT_EXPIRES_IN="7d"
NODE_ENV="development"
PORT=3000

# Minio
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=etnair
MINIO_REGION=us-east-1